html {

    font-family: 'Quicksand', sans-serif;
    background-color: #deceba;

}

h1 {

    font-size: 40px;
    color: black;
    text-align: center;

}

.title{

    text-align: center;
}

a {

    color: rgb(171, 145, 115);
}

input {
    margin: 10px;
}

textarea {
    margin: 10px;
    width: 50%;
}

button {

    margin: 10px;

}

.artikel {

    border: 5px solid rgb(171, 145, 115);
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
}

.artikel-image {

    width: 50%;
}

#liste-artikel {

    width: 50%;
    margin: auto;

}

nav {
    text-align: right;
}

button {
    background-color: #ab9173;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.flex {

    display: flex;
    background-color: white;
}

.container-header {
/* .header { */
  
    width: 1010px; 
    background-color: white;
    padding: 15px;

}

.hidden {

    display: none;

}


.body {
    margin: 0px;
}

p.einleitung {
text-align: center;
margin: auto; 
width: 850px;

}

.anmeldung {
    text-align: center;
}

.container-header a {
    text-decoration: none;
}

.meinArtikel {
    width: 600px; 
    margin: auto;
}


input, textarea, select {
    margin: 10px 0 33px 0;
}